<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Visualization</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Current-Flow-Allostery</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csv-file">Upload File:</label>
            <input type="file" id="csv-file" accept=".csv, .dat">
            <button type="button" id="help-button">File Format Help</button>
        </div>
        <div class="radio-group">
            Label Starting Node to Start at 0 or 1?
            <label><input type="radio" name="option" checked = "yes" value="0"> 0</label>
            <label><input type="radio" name="option" value="1"> 1</label>
        </div>
        <div class="radio-group2">
            Use Average Betweenness For Top Paths?
            <label><input type="radio" name="option2" checked = "yes" value="Yes"> Yes</label>
            <label><input type="radio" name="option2" value="No"> No</label>
        </div>
        <label for="source-resid">Source Residue ID(s):</label>
        <input type="text" id="source-resid" placeholder="Enter source node(s), e.g., 1 or 1,2,3">
        <br>
        <label for="sink-resid">Sink Residue ID(s):</label>
        <input type="text" id="sink-resid" placeholder="Enter sink node(s), e.g., 1 or 1,2,3">
        <br>
        <label for="k-resid">Enter # of Top Paths(Optional)</label>
        <input type="text" id="k-resid">
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <div id="modal-overlay" class="modal-overlay"></div>
    
    <div id="modal" class="modal">
        <span id="modal-close" class="modal-close">&times;</span>
        <h3>File Upload Help</h3>
        <p>Select a CSV or DAT file to upload. This will be used for generating graphs and analyzing data.</p>
    </div>
    <div id="label-container" style="text-align: center;">
        <label id="source-node-label" style="display: none; color: green;">Source Node: </label>
        <br>
        <label id="sink-node-label" style="display: none; color: red;">Sink Node: </label>
        <br>
        <br>
        <label id="directions-label" style="display: none;">Choose 2 Resistors to Calculate Betweenness. Drag to Move</label>
    </div>
    
    <div id="graph-container" style="width: 100%; height: 600px; overflow: hidden; position: relative;">
        <svg id="graph-svg" width="100%" height="100%"></svg>
    </div>
    <button id="calculate-button" style="display: none;">Calculate</button> <!-- Initially hidden -->
    <button id="refresh-button" style="display: none;">Refresh</button>
    <button id="zoom-in-button">Zoom In</button>
    <button id="zoom-out-button">Zoom Out</button>
    <button id="reset-zoom-button">Reset Zoom</button>

    <pre id="output"></pre>

    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'TopPaths')">Top Paths</button>
        <button class="tablinks" onclick="openTab(event, 'Histograms')">Histograms</button>
        <button class="tablinks" onclick="openTab(event, 'CorrelationMatrix')">Correlation Matrix</button>
    </div>

    <!-- Tab content -->
    <div id="TopPaths" class="tabcontent">
        <h2>Top Shortest Paths</h2>
        <div id="top-paths"></div>
    </div>

    <div id="Histograms" class="tabcontent">
        <h2>Histograms</h2>
        <div id="histogram-container" style="text-align: center; margin-top: 20px;"></div>
        <div id="histogram-container2" style="text-align: center; margin-top: 20px;"></div>
    </div>

    <div id="CorrelationMatrix" class="tabcontent">
        <svg id="correlation-svg"></svg>
    </div>

    <script src="{{ url_for('static', filename='graphs.js') }}"></script>

</body>
</html>
